div {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.one {
    background-color: red;
    transform: skew(120deg)
}

.two {
    background-color: yellow;
}

.three {
    background-color: green;
}